.cannon {
    height: 70vh;
    width: 1px;
    position: relative;
    transform-origin: 50% 100%;
    animation: cannon-explosion 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) both;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes cannon-explosion {
    0% {
        transform: scale(0);
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.cannon__path {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform-origin: 50% 100%;
    padding-bottom: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.cannon__path--lg {
    height: 100%;
}

.cannon__path--md {
    height: 95%;
}

.cannon__path--sm {
    height: 90%;
}

.cannon__path--angle-2 {
    transform: rotate(-35deg);
}

.cannon__path--angle-1 {
    transform: rotate(-15deg);
}

.cannon__path--angle1 {
    transform: rotate(15deg);
}

.cannon__path--angle2 {
    transform: rotate(35deg);
}

.cannon__confetti {
    flex: 0 1 auto;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.cannon__confetti:nth-child(even) {
    animation-name: confetti-rotate-l;
}

@keyframes confetti-rotate-l {
    0% {
        transform: rotate(0) scaleY(1);
    }

    50% {
        transform: rotate(2turn) scaleY(1.5);
    }

    100% {
        transform: rotate(2.05turn) scaleY(1);
    }
}

.cannon__confetti:nth-child(odd) {
    animation-name: confetti-rotate-r;
}

@keyframes confetti-rotate-r {
    0% {
        transform: rotate(0) scaleY(1);
    }

    50% {
        transform: rotate(-2turn) scaleY(1.5);
    }

    100% {
        transform: rotate(-2.05turn) scaleY(1);
    }
}

.cannon__confetti--ribbon {
    height: 1em;
    width: 0.5em;
    border-radius: 0.1em;
}

.cannon__confetti--flake {
    height: 0.5em;
    width: 0.5em;
    border-radius: 50%;
}

.cannon__confetti--color-1 {
    background-color: #feb535;
}

.cannon__confetti--color-2 {
    background-color: #bea4ff;
}

.cannon__confetti--color-3 {
    background-color: #ff6e83;
}

.cannon__confetti--color-4 {
    background-color: #58cafe;
}

.cannon {
    position: absolute;
    bottom: 20%;
    left: 50%;
}