body {
    margin: 0;
    overflow: hidden;
    background: white;
}

#scissors:after,
#scissors:before,
.screw:after {
    content: '';
    display: block;
    position: absolute;
}

#scissors {
    position: absolute;
    top: calc(45%);
    left: calc(50% - 450px);
    transform: translateX(-50%) translateY(-50%);
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 1;
}


@keyframes opac {
    100% {
        opacity: 1;
    }
}

@keyframes move {
    0% {
        left: calc(25%);
        top: calc(52%);
    }

    10% {
        left: calc(33%);
        top: calc(43%);
    }


    50% {
        left: calc(43%);
        top: calc(37%);
    }

    70% {
        left: calc(48%);
        top: calc(33%);
    }

    90% {
        left: calc(58%);
        top: calc(31%);
        z-index: 1;
    }

    100% {
        left: calc(68%);
        top: calc(68%);
        z-index: -2;
    }
}

.hole {
    position: absolute;
    background: #3d8eb9;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 45%, #3d8eb9 47%, #3d8eb9 100%);
}

.blade {
    position: absolute;
    background: #bdc3c7;
    width: 230px;
    height: 30px;
    left: 80px;
    top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#top-part {
    position: absolute;
    transform-origin: 45px 45px;
    transform: rotateZ(30deg);
    z-index: 2;
}

#top-part .blade {
    border-bottom-right-radius: 100px;
}

#bottom-part {
    position: absolute;
    top: 112px;
    transform-origin: 45px 45px;
    transform: rotateZ(-30deg);
    z-index: 2;
}

#bottom-part .blade {
    border-top-right-radius: 100px;
}

#rotator-top {
    transform-origin: 155px 45px;
    animation: rotateTop;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#rotator-bottom {
    transform-origin: 155px 45px;
    animation: rotateBottom;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes rotateTop {
    0% {
        transform: rotateZ(-10deg);
    }

    50% {
        transform: rotateZ(20deg);
    }

    100% {
        transform: rotateZ(-10deg);
        visibility: hidden;
    }
}

@keyframes rotateBottom {
    0% {
        transform: rotateZ(10deg);
    }

    50% {
        transform: rotateZ(-20deg);
    }

    100% {
        transform: rotateZ(10deg);
        visibility: hidden;
    }
}

.screw {
    position: absolute;
    width: 15px;
    height: 15px;
    background: darkgray;
    border-radius: 100px;
    top: 37px;
    left: 150px;
    box-shadow: 0 0 5px #3d4448;
}

.screw:after {
    width: 10px;
    height: 3px;
    background: #767676;
    top: 6px;
    left: 2px;
    box-shadow: inset 0 1px 1px black;
}

.half#top {
    position: absolute;
    left: -10%;
    top: 50%;
}

.half#bottom {
    position: absolute;
    left: 40%;
    top: 50%;
}

.half#top {
    border-top: 125px solid #fa163f;
    border-left: 0px solid transparent;
    border-right: 300px solid transparent;
    height: 0;
    width: 50%;
    animation-name: paper-top;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 2s;
    transform: translateY(calc(10% - 62px));
}

.half#bottom {
    border-bottom: 125px solid #fa163f;
    border-left: 300px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 50%;
    z-index: 3;
    animation-name: paper-bottom;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-duration: 5s;
    animation-delay: 2s;
    transform: translateY(calc(-40%));
}

@keyframes paper-top {

    99% {
        opacity: 1;
    }

    100% {
        transform: rotateZ(90deg) translateY(5000%);
        opacity: 0;
    }
}

@keyframes paper-bottom {
    99% {
        opacity: 1;
    }

    100% {
        transform: rotateZ(270deg) translateY(5000%);
        opacity: 0;
    }
}